{% extends "nav.html" %}

{% block content %}

<style>
   /* Custom Dark Card Styling */
        .custom-card {
            background-color: #1e222b;
            color: white;
            border: 1px solid #313745;
        }
        .custom-card1 {
            background-color: #1e222b;
            color: #DCDCDC;
            border: 1px solid #2a2f3d;
        }

         body {
            background-color: #121212;
            color: white;
        }
</style>
    <div class = "container card rounded-4 p-4 mb-4 custom-card">
    <h1 class="text-center">Add Employee Details</h1>
   
    </div> 
<div class="container card rounded-4 p-4 mb-4 custom-card" >
    <form class="row g-3 needs-validation" novalidate action="/add_emp" method="POST">
      {% csrf_token %}
  <div class="col-md-4">
    <label for="first_name" class="form-label custom-card1">First name</label>
    <input type="text" class="form-control custom-card1" name="first_name" id="first_name" value="{{ first_name }}" required>
    
  </div>
  <div class="col-md-4">
    <label for="text" class="form-label custom-card1">Last name</label>
    <input type="text" class="form-control custom-card1" id="last_name" name="last_name" value="{{ last_name}}" required>
    
  </div>
  <div class="col-md-4">
    <label for="salary" class="form-label custom-card1">Salary</label>
      <input type="number" class="form-control custom-card1" id="salary" name="salary" value="{{ salary}}" required>
    </div>
 
    <div class="col-md-4">
    <label for="phone" class="form-label custom-card1">Phone</label>
      <input type="number" class="form-control custom-card1" id="Phone" name="phone" value="{{ phone }}" required>
    </div>
 
    <div class="col-md-4">
    <label for="dept" class="form-label custom-card1">Department</label>
      <input type="text" class="form-control custom-card1" id="salary" name="dept" value="{{ dept }}" required>
    </div>
 
    <div class="col-md-4">
    <label for="role" class="form-label custom-card1">Role</label>
      <input type="text" class="form-control custom-card1" id="role" name="role" value="{{ role }}" required>
    </div>

    <div class="col-md-4">
    <label for="location" class="form-label custom-card1">Location</label>
      <input type="text" class="form-control custom-card1" id="location" name="location" value="{{ role }}" required>
    </div>

    <div class="col-md-4">
    <label for="bonus" class="form-label custom-card1">Bonus</label>
      <input type="number" class="form-control custom-card1" id="bonus" name="bonus" value="{{ bonus }}" required>
    </div>

    <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
    <a class="btn btn-primary "href="/index">Back</a>
  </div>
      
  </div>
  
  
</form>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% endblock  %}




   